# Created by .ignore support plugin (hsz.mobi)
.idea/inspectionProfiles/
/.idea/
/out/
/.idea/compiler.xml
/.idea/vcs.xml
/file.ser
/.idea/workspace.xml
!/src/design/patterns/z/problems10/educative/eCommerceWebsite/Grails-Store/
/src/design/patterns/z/problems10/educative/eCommerceWebsite/Grails-Store/
